<div class="card" style="width: 100%">
	<img class="card-img-top" id="found-game-img" src="{{ asset('img/blank.png') }}" alt="Card image cap" style="width:100%;">
	<div class="card-body">
		<p class="card-text" id="found-game-description"></p>
	</div>
</div>
