{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
	<div class="col-md-9">
		<form name="nuevo_juego" action="/juego/guardar" method="post">
			<div class="form-group row">
				<label for="search-game-input" class="col-sm-2 col-form-label">Buscar juego</label>
				<div class="col-md-9">
					<input type="text" class="form-control" id="search-game-input" placeholder="Titulo del juego" autocomplete="off"></input>
				</div>

				<label for="search-game-select" class="col-sm-2 col-form-label">Elegir resultado</label>
				<div class="col-md-9">
					<select class="form-control" id="search-game-select"></select>
					<input type="submit" value="Seleccionar" id="select-game-btn" class="btn btn-primary btn-lg btn-block disabled" disabled="disabled"></input>
				</div>
			</div>
			<input type="hidden" name="bgg_id" id="bgg_id" />
			<input type="hidden" name="img_url" id="img_url" />
			<input type="hidden" name="bg_name" id="bg_name" />
		</form>
	</div>
	<div class="col-md-3">
		<div class="card" style="width: 100%">
			<img class="card-img-top" id="found-game-img" src="{{ asset('img/blank.png') }}" alt="Card image cap" style="width:100%;">
			<div class="card-body">
				<p class="card-text" id="found-game-description"></p>
			</div>
		</div>
	</div>
</div>
<script src="{{ asset('js/oferta.js') }}" type='text/javascript'></script>
<script language="JavaScript" type="text/javascript">
	$(document).ready(function(){

		var timeoutID = null;

		// Obtener y procesar resultados
		$('#search-game-input').keyup(function(){
			clearTimeout(timeoutID);
			val = $('#search-game-input').val();
			if (val.length > 3 ) {
				timeoutID = setTimeout(() => doSearchQuery(), 300);
			}
		});


		function doSearchQuery(){
			$('#select-game-btn').addClass('disabled').prop("disabled", "diasbled");
			$.get('/BGGAPI/searchByName/' + val, function(data, status){
			}).done(function(data, status){
				response = $.parseJSON(JSON.stringify(data));
				$('#search-game-select option').remove();
				$('#search-game-select').append('<option selected="true" disabled="disabled">Resultados: ' + response.boardgame.length + '</option>');
				if (response.boardgame.length < 1000) $.each(response.boardgame, function(){
					$('#search-game-select').append("<option value='" + this['@attributes'].objectid + "'>" + this.name + "</option>");
				});
			});
		}
	
		// Poblar info del juego en vista previa y habilitar botón
		$('#search-game-select').on('change', function() {
			var id = this.value;
			$.get('/BGGAPI/getById/' + this.value, function(data, status){
				response = $.parseJSON(JSON.stringify(data));
				$('#found-game-img').attr("src",response.boardgame.image);
				description = makeDescription(
					id,
					response.boardgame.yearpublished,
					response.boardgame.minplayers,
					response.boardgame.maxplayers,
					response.boardgame.age,
					response.boardgame.minplaytime,
					response.boardgame.maxplaytime
				);
				$('#found-game-description').html(description);
				$('#select-game-btn').removeClass('disabled').prop("disabled", false);
				console.log(id, response.boardgame.image, $('#search-game-select').val());
				$('#bgg_id').val(id);
				$('#img_url').val(response.boardgame.image);
				$('#bg_name').val($('#search-game-select:selected').text());


			});
		})
	});

</script>


{% endblock %}





















