{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
        <div class="col-md-9">
		<h2>TITULO JUEGO</h2>
		<form>
			<div class="form-group row">
				<label for="game-price-input" class="col-sm-2 col-form-label">Precio:</label>
				<div class="col-md-9">
                                        <input type="text" class="form-control" id="game-price-input" placeholder="Precio (eur)" autocomplete="off"></input>
                                </div>
				<label for="game-description-input" class="col-sm-2 col-form-label">Comentarios: </label>
				<div class="col-md-9">
                                        <textarea class="form-control" id="game-description-input" rows="5" placeholder="Comentarios" autocomplete="off"></textarea>
                                </div>
			</div>
		</form>
        </div>
        <div class="col-md-3">
		{% include 'juego/infocard.html.twig' %}
        </div>
</div>
<script src="{{ asset('js/juego.js') }}" type="text/javascript"></script>
{% endblock %}





















