<script src="{{ asset('jquery/jquery.js') }}"></script>
<script type="text/javascript" src='https://maps.google.com/maps/api/js?=false&libraries=places&key=AIzaSyAIGdDXhpRn6k0tXY7TeZS2OTq7LL1ECmE'></script>
<script src="{{ asset('js/jquery-location-picker/locationpicker.jquery.js') }}"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIGdDXhpRn6k0tXY7TeZS2OTq7LL1ECmE&callback=initMap" async defer></script> -->

Location: <input type="text" id="us2-address" style="width: 200px"/>
Radius: <input type="text" id="us2-radius"/>
<div id="us2" style="width: 500px; height: 400px;"></div>
Lat.: <input type="text" id="us2-lat"/>
Long.: <input type="text" id="us2-lon"/>

<script>
$('#us2').locationpicker({
    location: {
        latitude: 46.15242437752303,
        longitude: 2.7470703125
    },
    radius: 300,
    inputBinding: {
        latitudeInput: $('#us2-lat'),
        longitudeInput: $('#us2-lon'),
        radiusInput: $('#us2-radius'),
        locationNameInput: $('#us2-address')
    },
    enableAutocomplete: true,
    autocompleteOptions: {
       
        componentRestrictions: {country: 'es'}
    }
});
</script>