<div class="row">
    <div class="col-3">    
        <img src="{{ oferta.getJuego.getUrlPortada }}" class="img-thumbnail"></img>
    </div>
    <div class="col-6">
        <h3>{{ oferta.getJuego.getTitulo}}</h3>
        {{ oferta.getComentario}}
    </div>
</div>
